Package: biglinux-repository
Version: 2019.06-1big4
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size:16
Section: admin
Priority: optional
Description: BigLinux repository and key

